* {
    margin: 0;
    padding: 0;
    font-family: 'Sawarabi Mincho', sans-serif;

}

body {
    width: 100%;

}

header h1 {
    font-size: 80px;
    color: #fafafa;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    line-height: 400px;
}

header {
    background: #fff url(coffeemame.jpg) 0 0 no-repeat;
    height: 800px;
    width: 100%;
}

.menu {
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.button {
    text-decoration: none;
    color: brown;
    background-color: orange;
    padding: 20px;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
    width: 120px;
    height: 120px;
    line-height: 120px;

}

.button2 {
    text-decoration: none;
    color: brown;
    background-color: orange;
    padding: 20px;
    border-radius: 50%;
    font-size: 20px;
    width: 120px;
    height: 120px;


}

p {
    color: #000;
    font-size: 20px;
    padding-left: 8px;


}

.p2 {
    margin-left: 720px;
}

.top-title1 {
    font-size: 36px;
    margin-bottom: 10px;
    margin-left: 800px: color: #000;
    font-weight: 400;
    border: solid 5px #e5ab72;
    border-radius: 5px;

    display: table;
    margin-left: 800px;
    margin-top: 150px;
}

.top-title2 {
    font-size: 36px;
    margin-bottom: 10px;
    margin-left: 100px: color: #000;
    font-weight: 400;
    border: solid 5px #e5ab72;
    border-radius: 5px;

    display: table;
    margin-left: 100px;
    margin-top: 150px;

}

.l-img {
    float: left;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 100px;
}

.r-img {
    float: right;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 100px;
}

/*
img {
    margin-left: 8px;
    float: left;
}
*/

.content {
    border-bottom: 3px solid #b7b3af;
    padding: 16px 0;
    overflow: hidden;
}
